<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.im.project.manager.DepartmentMapper" >
  <resultMap id="BaseResultMap" type="com.im.project.model.Department" >
    <id column="id" property="de_id" jdbcType="INTEGER" />
    <result column="name" property="loginName" jdbcType="VARCHAR" />
    <result column="pictureId" property="pic_id" jdbcType="INTEGER" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <association property="picture" column="picture_pic_id" select="com.im.project.manager.impl.PictureMapper.selectByPrimaryKey" javaType="com.cqupt.project.model.Picture"/>
  </resultMap>  
</mapper>